sudo: false
language: node_js
node_js:
  - 12 # use nodejs v12 LTS
cache: npm
branches:
  only:
    - source # build hexo branch only
script:
  - npm install hexo --save
  - npm install hexo-renderer-pug hexo-renderer-stylus
  - hexo clean
  - hexo generate # generate static files
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  committer_from_gh: true
  target_branch: master
  on:
    all_branches: true # solve a permission problem
    branch: source
  local-dir: public

install:
  - yarn
