language: node_js

node_js:
  - 12 # use nodejs v12 LTS

cache: npm

branches:
  only:
    - source # build hexo branch only

install:
  - yarn
  - npm install hexo --save
  - npm install hexo-renderer-pug hexo-renderer-stylus

script:
  - hexo clean
  - hexo generate # generate static files

deploy:
   provider: pages
   strategy: git
   token: $GH_TOKEN
   skip_cleanup: true
   keep_history: true
   committer_from_gh: true
   target_branch: master
   local_dir: public

 on:
   all_branches: true # solve a permission problem
   branch: source

