#a{
    text-align: center;
    float: left; 
    position: relative;
    left: 100px;
    bottom: 400px;
}

#b{
    text-align: center;
    float: right;
    position: relative;
    right: 100px;
    bottom: 400px;
}

*{
    text-align:center; 
    margin: 15px;	
}

